* {
	margin:  0;
	padding: 0;
}

body {
	font: 100.1% Helvetica,sans-serif;
}

p {
    padding: 1em;
}
table
{
border-collapse:collapse;
}
table,th, td
{

text-align:left;
}
th {
    padding: 0.25em;
    color: #FFFFFF;
    background-color:#71f300;
    border-right: 1px solid #FFFFFF;
}
td
{
    padding: 0.5em;

height:1em;
vertical-align:bottom;
}

a {
	color: #2089f3;
}

a:hover {
	color: #134e8a;
}

h1 {
	font: Rockwell, "Helvetica Neue";
	size: 1.5em;
	color:  #71f300;
	margin-bottom: 0.5em;
}


#content {
	padding: 1em;
}

.tag_cloud {
    display: inline-block;
    margin: 1em;
}
.tag_cloud a {
    text-decoration: none ;
}
.tag_cloud a:hover {
    color: #d0e1f3;
    background-color: #134e8a;
}